.PlanNameContainer {
  height: 300px;
  text-align: center;
  padding: 20% 0;
  overflow: hidden;
  background-color: #fbd1b7;
  margin-top: 80px;
}
.formName {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}
.textName {
  height: 30px;
  font-size: 18px;
  text-align: center;
}
.textName::placeholder {
  text-align: center;
}
.PlanNextButton {
  margin-top: 5px;
  height: 30px;
  background-color: #FDE5E4;
  border-radius: 5px;
}
.planNameDog {
  height: 14%;
  position: absolute;
  top: 45%;
  right: 2%;
}

@media(min-width: 768px) {
  .PlanNameContainer {
    /* height: 10px; */
    padding: 200px;
  }
  .formName {
    width: 80%;
  }
  .PlanNextButton {
    height: 50px;
    font-size: 20px;
  }
  .planHeader {
    font-size: 30px;
  }
  .planUserName {
    font-size: 24px;
  }
  .planNameDog {
    height: 35%;
    position: absolute;
    top: 23%;
    right: 13%;
  }
}
