@import url('https://fonts.googleapis.com/css?family=Chewy|Indie+Flower|Montserrat+Alternates:400,500|Quicksand:300,400,500,600|Raleway:400,500|Vibes&display=swap');

body {
  font-family: 'Quicksand';
}

.landingHeader {
  /* border: 1px solid black; */
  text-align: center;
  position: relative;
  bottom: 80px;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  font-size: 4em;
  font-family: 'chewy';
  text-shadow: 2px 2px rgba(0,0,0,0.8);
}

.landingTagline {
  /* border: 1px solid black; */
  position: relative;
  /* top: 0; */
  bottom: 5em;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.6);
  font-weight: 600;
}

.landingSecTagline {
  /* border: 1px solid black; */
  position: relative;
  bottom: 6em;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.6);
  font-weight: 600;
}

.featuredImage {
  background-image: url('https://res.cloudinary.com/darrin-im/image/upload/v1570337024/Screen_Shot_2019-10-06_at_12.41.05_AM_gdwkre.png');
  height: 100%;
  width: 100%;
}
.featuredImg {
  width: 100%;
  /* display: none; */
}
.container {
  /* border: 1px solid red; */
  padding: 20px 10px 0 10px;
  background-color: #fbd1b7;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.recommendedContainer {
  display: flex;
}
.featuredHeader {
  /* margin-top: 0; */
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 3em;
}
.featuredContainer {
  /* border: 1px solid black; */
  position: relative;
  bottom: 9em;
}
div p {
  margin: 0 auto;
}
.featProjectName {
  margin-bottom: 10px;
}
.featProjectCreator {
  margin-top: 10px;
}
hr {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.recommendedDesc {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}
.recommendedPhoto {
  width: 35%;
}
