@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway';
}

/* .featuredImage {
  background-image: url('https://res.cloudinary.com/darrin-im/image/upload/v1570337024/Screen_Shot_2019-10-06_at_12.41.05_AM_gdwkre.png');
  height: 100%;
  width: 100%;
} */
.featuredImg {
  width: 100%;
  display: none;
}
.container {
  /* border: 1px solid black; */
  padding: 20px 10px 0 10px;
  background-color: #fbd1b7;
}
.recommendedContainer {
  display: flex;
}
.featuredHeader {
  margin-top: 0;
}
hr {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.recommendedDesc {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}
.recommendedPhoto {
  width: 35%;
}
