@import url('https://fonts.googleapis.com/css?family=Metrophobic&display=swap');

/* RADIO BUTTON/LABEL */

.radioButtonStyle {
  margin-left: 10px;
}

.radioDays {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: center;
}

.radioInputStyleD {
  margin-left: 15px;
  cursor: pointer;
}

.radioInputStyleD1 {
  cursor: pointer;
}


.radioInputStyleD1 {
  margin-left: 26px;
}

.radioInputStyleP {
  margin-left: 15px;
  cursor: pointer;
}

.radioPeople {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* RADIO BUTTON EFFECT */

.radioInputStyleD1:hover {
  animation: shadow-pulse 2s infinite;
}
.radioInputStyleD:hover {
  animation: shadow-pulse 2s infinite;
}
.radioInputStyleP:hover {
  animation: shadow-pulse 2s infinite;
}

/* RADIO BUTTON KEYFRAMES */

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
     }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    border-radius: 50%;
     }
}
