.photo {
  width: 900px;
  height: 160px;
  opacity: .9;
}
.trip-choice-container {
  height: 100%;
}
.photo:hover {
  opacity: 1;
}

.trip-choice {
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  margin: 50px 150px 50px 150px;
  width: 900px;
}
.trip-choice:hover {
  transition: transform 0.5s;
  transform:scale(1.02);
}

.trip-header {
  text-decoration: none;
  margin: 0 auto;
  color: white;
}

.trip-name {
  margin: 10px;
  padding-left: 15px;
  text-decoration: none;
}


@media (max-width: 768px) {
  .trip-choice-container {
    margin-left: 0;
    width: 100%;
  }

  .photo {
    display: none;
  }

  .trip-choice:first-of-type {
    margin-top: 20%;
  }

  .trip-choice {
    margin: 0 0 20% 0;
    border: 1px solid white;
    width: 100%;
  }

  .trip-header {
    width: 100%;
  }

  .trip-name {
    text-align: center;
    margin: 1em 0;
  }
}
