.formContainer {
  padding-bottom: 40px;
  background-color: #fbd1b7;
  overflow: hidden;
  margin: 90px auto 0 auto;
  min-height: auto;
}
.filler {
  opacity: 0;
  cursor: default;
}
.registerForm {
  border: 1px solid #black;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow:
    1px 4px 12px rgba(255,255,255,0.4),
    1px 6px 8px rgba(0,0,0,0.3),
    2px 8px 24px rgba(255,255,255,0.4);
  background-color: #CAE3FD;
  margin: 20px auto;
  width: 70%;
}
.LoginContinueForm {
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(255,255,255,0.4);
  box-shadow:
    1px 4px 12px rgba(255,255,255,0.4),
    1px 6px 8px rgba(0,0,0,0.3),
    2px 8px 24px rgba(255,255,255,0.4);
  background-color: #CAE3FD;
  margin: 20px auto;
  width: 70%;

}
.formHeader {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
div form input {
  padding: 10px 0 10px 5px;
  margin: 10px 0;
}
.submit {
  font-size: 16px;
  background-color: #FDE5E4;
  cursor: pointer;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
  margin: 10px 0 30px 0;
  padding: 5px 0;
}
.submit:hover {
  transform: scale(1.04);
  transition: all 0.3s;
}

@media(min-width: 768px) {
  .formContainer {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
  }
  .registerForm {
    border: 2px solid rgba(0,0,0,0.9);
    width: 35%;
    margin-top: 68px;
    padding: 0 30px;
  }
  .LoginContinueForm {
    border: 2px solid rgba(0,0,0,0.9);
    width: 35%;
    margin-top: 75px;
    padding: 0 30px;
  }
  .submit {
    font-size: 16px;
    background-color: #FDE5E4;
    cursor: pointer;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
  }
  div form input {
    font-size: 18px;
  }
}
