ul {
  list-style-type: none;
}
.FooterContainer {
  text-align: center;
  /* border: 1px solid red; */
  /* background-image: url('https://res.cloudinary.com/darrin-im/image/upload/v1570650144/silhouette-1314467_640_xkzhj7.png'); */
  /* background-position: center; */
  background-size: cover;
  /* height: 100%; */
  width: 100%;
  margin: 0 auto;
  background-color: #f9fce1;
  overflow: hidden;
}
.FooterNav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin: 0;
}
.FooterTerms {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.FooterTitle {
  margin: 0;
  padding-top: 15px;
  /* color: black; */
  font-size: 3em;
  font-family: 'chewy';
  text-shadow: 2px 2px rgba(0,0,0,0.8);
  color: #fbd1b7;
  /* color: #CAE3FD; */
}
.fab {
  color: black;
}
