.CompletedContainer {
  background-color: #fbd1b7;
  overflow: hidden;
  margin: 0 auto;
}
.usersLiName {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.usersProjects {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 20px 20px;
  line-height: 22px;
  border-radius: 10px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  background-color: #f9fce1;
  margin: 20px 30px;
}
.completedButtons {
  padding: 5px 40px;
  margin: 5px 10px 5px 0;
  border-radius: 10px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    background-color: #CAE3FD;
    /* border: none; */
    font-size: 14px;
    cursor: pointer;
}
.completedHeader {
  text-align: center;
  font-size:
}
.dogWinkFace {
  width: 20%;
  transform: rotate(12deg);
}
.dogWinkFace:hover {
  cursor: grab;
}
.completedHeaderCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wiggle {
	0% {transform:rotate(-15deg);}
	50% {transform:rotate(60deg);}
	100% {transform:rotate(-15deg);}
}


.wiggler:hover {
	/* wiggle 0.5s infinite; */
  /* wiggle 0.5s infinite; */
	animation: wiggle 0.55s infinite;
}

@media (min-width: 768px) {
  .usersProjects {
    border: 3px solid rgba(0,0,0,0.5);
    text-align: center;
    max-width: 350px;
    margin: 30px auto;
  }
  .dogWinkFace {
    width: 8%;
  }
  .desktopDiv {
    /* width: 80%;
    display: flex;
    justify-content: space-between; */
  }
  .completedHeader {
    font-size: 35px;
  }
}
