.CompletedContainer {
  background-color: #fbd1b7;
  margin: 0 auto;
  overflow: scroll;
  height: 90vh;
  scroll-behavior: smooth;
}
.usersLiName {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.usersProjects {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 20px 20px;
  line-height: 22px;
  border-radius: 10px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  background-color: #f9fce1;
  margin: 20px 30px;
}
.completedButtons {
  padding: 5px 40px;
  margin: 5px 10px 5px 0;
  border-radius: 10px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  background-color: #CAE3FD;
  font-size: 14px;
  cursor: pointer;
}
.completedHeader {
  text-align: center;
  font-size:
}
.dogWinkFace {
  width: 20%;
  transform: rotate(12deg);
  z-index: 0;
    /* cursor: url('https://res.cloudinary.com/darrin-im/image/upload/v1570813347/dogBone_xy9auw.png', auto); */
}
.dogWinkFace:hover {
  /* cursor: grab; */
  cursor: url('https://res.cloudinary.com/darrin-im/image/upload/v1571014121/dogBone_dxwmaz.png'), auto;
}
.completedHeaderCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@keyframes wiggle {
	0% {transform:rotate(-15deg);}
	50% {transform:rotate(60deg);}
	100% {transform:rotate(-15deg);}
}

.wiggler:hover {
	animation: wiggle 0.55s infinite;
}

@media (min-width: 768px) {
  .usersProjects {
    border: 3px solid rgba(0,0,0,0.5);
    text-align: center;
    max-width: 350px;
    margin: 30px auto;
  }
  .dogWinkFace {
    width: 8%;
  }
  .desktopDiv {
    /* width: 80%;
    display: flex;
    justify-content: space-between; */
  }
  .completedHeader {
    font-size: 35px;
  }
}
