.editButton {
  height: 20px;
  margin-left: 10px;
}

.far {
  color: black;
  margin-top: 20%;
}

.profileContainer {
  background-color: rgb(240, 240, 240);
  border-right: 1px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  width: 15%;
}

.profileHeader {
  margin-left: 10px;
}

.profileImage {
  height: 60%;
  text-align: center;
  width: 100%;
}

.profileImage:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.profileInfo {
  height: 30%;
  text-align: left;
}

.profileInfo:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.profileList {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 1em;
  overflow-wrap: break-word;
}

.profileTrips {
  height: 100%;
  text-align: left;
}

.unorderedList {
  padding-left: 10px;
}

.temporaryText {
  padding-left: 10px;
}
.yourGearHeader {
  padding-left: 10px;
}


@media (max-width:768px) {

  .deleteButton {
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7)
  }

  .profileContainer {
    font-size: 12px;
    position: absolute;
    height: 170px;
    width: 100%;
    top: 100%;
    bottom: ;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    border-top: 1px solid white;
    border-bottom: 50px solid black;
    border-radius: 15px;
  }

  .profileHeader {
    padding-top: 20px;
    font-size: 17px;
    margin-left: 10px;
  }

  .profileImage {
    display: none;
  }

  .profileTrips {
    position: relative;
    top: 50px;
  }

  .temporaryText {
    margin-top: -7px;
    margin-left: 10px;
  }

  .unorderedList {
    position: absolute;
  }

}
