.formHeading {
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.formInput {
  margin-bottom: 10px;
  border: none;
  padding: 10px;
}

.submit {
  border-radius: 50px;
}

#buttonSignIn {
  margin-top: 49px;
  border-radius: 50px;
}
#buttonSignIn:hover {
  border-radius: 0;
}

/* BELOW IS STYLE FOR FORM CONTAINER */

.formContainer {
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  width: 60%;
  height: 45vh;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width:100%;
  max-height:100%;
  overflow:auto;
  text-align: center;
}

/* BELOW IS STYLE FOR RETURNING USERS */

.returnUsers {
  /* border: 1px solid red; */
  background-color: rgba(0,0,0,0.7);
  margin-right: 2em;
  width: 40%;
  border-radius: 10px;
}

/* BELOW IS STYLE FOR NEW USERS */

.newUsers {
  background-color: rgba(0,0,0,0.7);
  width: 40%;
  border-radius: 10px;
}

/* BELOW IS STYLING FOR BUTTON */

.newUserButton {
  display: none;
}

.submitSignIn, .submit {
  background: #1AAB8A;
  color: #fff;
  border: none;
  position: relative;
  height: 40px;
  padding: 0 2em;
  font-size: 20px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 5px;
}

.submit:hover{
  color:#1AAB8A;
  background-color: white;
  border-radius: 0;
}

.submitSignIn:before,.submitSignIn:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  transition: 400ms ease all;
}

.submit:before,.submit:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  transition: 400ms ease all;
}

.submitSignIn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.submitSignIn:hover:before,.submitSignIn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.submit:hover:before,.submit:hover:after{
  width:100%;
  transition:800ms ease all;
}

#buttonSignIn:hover{
  color:#1AAB8A;
  background-color: white;
  border-radius: 0;
}

/* BELOW ARE MEDIA QUERIES FOR MOBILE */

@media(max-width: 768px) {

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
  }

  .newUsers {
    width: 100%;
  }

  .returnUsers {
    width: 100%;
    z-index: 1;
    height: 40vh;
    margin: 100px 0 20px 0;
  }

  .signIn {
    margin-top: 0;
  }

  .newUserButton {
    display: block;
    margin-top: 10px;
    border-radius: 50px;
  }

  .submitSignIn {
    margin-top: 0;
  }

  .newUserButton {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 40px;
    padding: 0 2em;
    font-size: 20px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 5px;
  }


  .newUserButton:hover{
    color:#1AAB8A;
    background-color: white;
    border-radius: 0;
  }

  .newUserButton:before,.newUserButton:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
  }

  .newUserButton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .newUserButton:hover:before,.newUserButton:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  #buttonSignIn {
    margin-top: 10px;
  }

  .formContainer {
    max-width: 60%;
  }
}
